extends _layouts/base

block content
	div.container
		div.slick__container--index(style="background-image: url('/images/placeholder2.jpg');")
			div.slick__container--index__frame
				each val in site.data.articlesslick
					- var grid = (val.grid === "undefined" ? '' : val.grid)
					div.grid-item--slick(class="#{grid} #{val.type} #{val.category}")
						a.article__link(href="#")
							div.article__img(style="background-image:url('#{val.background}')")
								div.article__tag__container--outer
									div.article__tag__container--inner
										img.article__icon(src="/images/#{val.icon}")
										div.article__tag #{val.tag}
							div.article__text__container--outer
								div.article__text__container--inner
									h2.article__title #{val.title}
									if val.author
										div.article__author__container
											if val.author[0].image
												div.article__author__img(style="background-image:url('#{val.author[0].image}')")
												div.article__author__name #{val.author[0].name}
											else
												div.article__author__name <small>WITH</small> #{val.author[0].name}
									if val.text
										each paragraph in val.text
											p.article__text #{paragraph.paragraph}
			div.slick__container--index__frame 2
			div.slick__container--index__frame 3
			div.slick__container--index__frame 4
		div.row
			div.columns.large-12
				.asadasdadsljkhasd
						label
							input.filter__checkbox(type='checkbox', value='food')
							| food
						label
							input.filter__checkbox(type='checkbox', value='fitness')
							| fitness
						label
							input.filter__checkbox(type='checkbox', value='lifestyle')
							| lifestyle
						label
							input.filter__checkbox(type='checkbox', value='all')
							| ALL
				div.filter__container
					div.filter__button.filter__button--all
						img.filter__icon--off(src="/images/filter-all-off.png")
						img.filter__icon--on(src="/images/filter-all-on.png")
						div.filter__text All
					div.filter__button.filter__button--fitness
						img.filter__icon--off(src="/images/filter-fitness-off.png")
						img.filter__icon--on(src="/images/filter-fitness-on.png")
						div.filter__text Fitness
					div.filter__button.filter__button--lifestyle
						img.filter__icon--off(src="/images/filter-lifestyle-off.png")
						img.filter__icon--on(src="/images/filter-lifestyle-on.png")
						div.filter__text Lifestyle
					div.filter__button.filter__button--food
						img.filter__icon--off(src="/images/filter-food-off.png")
						img.filter__icon--on(src="/images/filter-food-on.png")
						div.filter__text Food
		div.row
			div.columns.large-12
				div.grid
					div.grid-sizer
					div.gutter-sizer
					each val in site.data.articles
						- var grid = (val.grid === "undefined" ? '' : val.grid)
						div.grid-item(class="#{grid} #{val.type} #{val.category}")
							a.article__link(href="#")
								div.article__img(style="background-image:url('#{val.background}')")
									div.article__tag__container--outer
										div.article__tag__container--inner
											img.article__icon(src="/images/#{val.icon}")
											div.article__tag #{val.tag}
								div.article__text__container--outer
									div.article__text__container--inner
										h2.article__title #{val.title}
										if val.author
											div.article__author__container
												if val.author[0].image
													div.article__author__img(style="background-image:url('#{val.author[0].image}')")
													div.article__author__name #{val.author[0].name}
												else
													div.article__author__name <small>WITH</small> #{val.author[0].name}
										if val.text
											each paragraph in val.text
												p.article__text #{paragraph.paragraph}
				nav.article__pagination
					p
						a(href='page-2.html') Page 2
				div.article__more__container
					img.article__more(src="/images/load-more.png")
		div.subscribe__container
			div.row
				div.columns.large-7.large-centered
					div.subscribe__title Subscribe to our newsletter
					div.subscribe__text Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet direct to your inbox, for busy people.
					div.subscribe__text--bold I'm interested in
					form.subscribe__form(action="/", method="post")
						div.subscribe__checkbox__container
							input.subscribe__checkbox#subscribe-fitness(type='checkbox', name='subscribe-checkbox')
							label.subscribe__checkbox__label(for='subscribe-fitness')
								span.subscribe__checkbox__span
								| Fitness
							input.subscribe__checkbox#subscribe-lifestyle(type='checkbox', name='subscribe-checkbox')
							label.subscribe__checkbox__label(for='subscribe-lifestyle')
								span.subscribe__checkbox__span
								| Lifestyle
							input.subscribe__checkbox#subscribe-food(type='checkbox', name='subscribe-checkbox')
							label.subscribe__checkbox__label(for='subscribe-food')
								span.subscribe__checkbox__span
								| Food
						div.subscribe__input__container
							input.subscribe__input(placeholder="Enter your email...")
							div.subscribe__submit Send me daily dash